@model CovidAnalyzer.Models.Patient

@{
    ViewBag.Title = "PatientsList";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <h1 class="display-4">Pacientes registrados</h1>
    <div class="controls">
        <div class="form-inline float-right">
            <div class="form-group mr-sm-3 col-sm-3">
                <select class="form-control" name="options">
                    <option value="dpi">DPI</option>
                    <option value="name">Nombre</option>
                    <option value="lastname">Apellido</option>
                </select>
                <div class="help-block with-errors"></div>
            </div>
            <input class="form-control mr-sm-2 my-2 col-md-3" type="search" placeholder="Buscar" value="searchString" aria-label="Search">

            <!-- Button trigger modal -->
            <button type="button" onsubmit="desabilita()" id="search" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal">Buscar</button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header badge-warning">
                            <h5 class="modal-title" id="exampleModalLabel">Información del paciente</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img src="~/Content/Images/remote-work-woman.png" class="rounded float-md-left align-content-center" alt="..." width="150">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <strong>Nombre </strong><p class="font-weight-light">@CovidAnalyzer.Services.Storage.Instance.patientReturn.Name</p>
                                            <strong>Apellido</strong><p class="font-weight-light">@CovidAnalyzer.Services.Storage.Instance.patientReturn.Lastname</p>
                                            <strong>Descripción</strong><p class="font-weight-light">@CovidAnalyzer.Services.Storage.Instance.patientReturn.Description</p>
                                            <strong>Edad</strong><p class="font-weight-light">@CovidAnalyzer.Services.Storage.Instance.patientReturn.Years</p>
                                            <strong>Departamento</strong><p class="font-weight-light">@CovidAnalyzer.Services.Storage.Instance.patientReturn.Departament</p>
                                            <strong>Municipio</strong><p class="font-weight-light">@CovidAnalyzer.Services.Storage.Instance.patientReturn.Municipality</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning">Recuperado</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}





<div>
    <table class="table table-sm">
        <thead>
            <tr class="bg-warning">
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Edad</th>
                <th scope="col">Departamento</th>
                <th scope="col">Municipio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
            <tr>
                <td>Mark</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
        </tbody>
    </table>
</div>

<button type="button" class="btn btn-warning">Volver al menú</button>




