@model IEnumerable<CovidAnalyzer.Models.Patient>

@{
    ViewBag.Title = "PatientsList";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    if (ViewBag.smsPositive != null) {
        <div class="alert alert-danger alert-dismissible fade show col-5" style="position: absolute; top: 50px; left: 700px;" role="alert">
            <strong>Paciente contagiado: </strong> @ViewBag.smsPositive
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
        </div>
    }
    if (ViewBag.smsNegative != null) {
        <div class="alert alert-success alert-dismissible fade show col-5" style="position: absolute; top: 50px; left: 700px;" role="alert">
            <strong>Paciente no contagiado: </strong> @ViewBag.smsNegative
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
    }
    <h1>Pacientes registrados</h1>
    <hr />
    <div class="controls">
        <div class="form-inline float-left">
            <div class="form-group" style="position: relative; top: 0px; left: 10px;">
                <select class="form-control" name="options">
                    <option value="dpi">DPI</option>
                    <option value="name">Nombre</option>
                    <option value="lastname">Apellido</option>
                </select>
            </div>
            <input class="form-control" style="position: relative; top: 0px; margin-left:5px; left: 10px;" type="search" name="searchString" placeholder="Elemento a buscar..." aria-label="Search">
            <input type="submit" style="position: relative; top: 0px; margin-left:5px; left: 10px;" class="btn btn-warning btn-send" name="searchButton" value="Buscar">
        </div>
    </div>
    <div>
        <table class="table table-sm" style="position: relative; top: 30px; left: 0px;">
            <thead>
                <tr class="bg-warning">
                    <th scope="col" class="text-center">Nombre</th>
                    <th scope="col" class="text-center">Apellido</th>
                    <th scope="col" class="text-center">Edad</th>
                    <th scope="col" class="text-center">Departamento</th>
                    <th scope="col" class="text-center">Municipio</th>
                    <th scope="col" class="text-center">Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    if (item.analyzed == true) {
                        <tr>
                            <td class="text-center" style="text-transform:capitalize">@Html.DisplayFor(modelItem => item.Name)</td>
                            <td class="text-center" style="text-transform:capitalize">@Html.DisplayFor(modelItem => item.Lastname)</td>
                            <td class="text-center" style="text-transform:capitalize">@Html.DisplayFor(modelItem => item.Years)</td>
                            <td class="text-center" style="text-transform:capitalize">@Html.DisplayFor(modelItem => item.Departament)</td>
                            <td class="text-center" style="text-transform:capitalize">@Html.DisplayFor(modelItem => item.Municipality)</td>
                            @if (item.infected == false) {
                                <td class="text-center">No contagiado</td>
                            }
                            else {
                                <td class="text-center">Contagiado</td>
                            }
                        </tr>
                    } else {
                        <tr>
                            <td class="text-center" style="text-transform:capitalize">@Html.DisplayFor(modelItem => item.Name)</td>
                            <td class="text-center" style="text-transform:capitalize">@Html.DisplayFor(modelItem => item.Lastname)</td>
                            <td class="text-center" style="text-transform:capitalize">@Html.DisplayFor(modelItem => item.Years)</td>
                            <td class="text-center" style="text-transform:capitalize">@Html.DisplayFor(modelItem => item.Departament)</td>
                            <td class="text-center" style="text-transform:capitalize">@Html.DisplayFor(modelItem => item.Municipality)</td>
                            @if (item.infected == false) {
                                <td class="text-center">@Html.ActionLink("Realizar prueba", "PatientsList", new { id = item.DPI })</td>
                            } else {
                                <td class="text-center">Contagiado</td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <hr style="position: relative; top: 20px; left: 0px;" />
    <button class="btn btn-warning" style="position: relative; top: 20px; left: 0px;" type="button" onclick="location.href='@Url.Action("Create", "Patient")'">Agregar paciente</button>
    <button type="button" id="searchButton" style="        position: relative;
        top: 20px;
        left: 0px;
" value="menu" class="btn btn-light" onclick="location.href='@Url.Action("Panel", "Home")'">
        Volver
    </button>
}

